.hotcollections-slider {
	  position: relative;
}

.hc-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  width: 60px !important;
  height: 60px !important;
  border-radius: 50%;
  border: none;
  background: red;
  opacity: 1;
  color: black;
  display: flex !important;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  z-index: 10;
}

.hc-arrow:hover {
  opacity: 1;
  background: transparent;
}

.hc-prev {
  left: 12px;
}

.hc-next {
  right: 12px;
}

.hc-arrow svg {
  width: 18px;
  height: 18px;
}
